/* javascriptUi.Html */
#demo{
    color: blue;
}

#title{
    color: blue;
    text-align: center;
    background-color: black;
    background-image: linear-gradient(to right, red , yellow , green); 
}

#content{
    cursor: pointer;
} i{
    color: red;
}
b{
    color: black;
}
.black {
    color: black;
}









/* VarLetConst.html */
#lineheight {
    line-height: 1.5rem;
}
.lineheight{
    color: red;
}
b{
    color: red;
}
